$cp-pink-50: #ffd1db;
$cp-pink-100: #ff99b3;
$cp-pink-200: #ff5694;
$cp-pink-300: #e62b70;
$cp-pink-400: #cc004d;
$cp-pink-500: #a3003d;

$cp-blue-50: #666699;
$cp-blue-100: #4d4d80;
$cp-blue-200: #000032;
$cp-blue-300: #000019;
$cp-blue-400: #000000;

$cp-white-50: #f0f0f0;
$cp-white-100: #e6e6e6;
$cp-white-200: #fafafa;
$cp-white-300: #e0e0e0;
$cp-white-400: #cccccc;

$cp-grey-50: #e6e6e6;
$cp-grey-100: #cccccc;
$cp-grey-200: #f4f2f2;
$cp-grey-300: #d9d9d9;
$cp-grey-400: #b3b3b3;
$cp-grey-500: #929292;
